@charset "UTF-8";

body {
background-color:#ffffff;
color: #00b295;
font-family:'Meiryo';
font-size:200%;
}

a:link {color:blue;}
a:visited {color:purple;}
a:hover {color:red;}
a:active {color:olive;}


p {
text-indent:2em;
}

div#header {
width:100%;
text-align:center;
padding-top:2px;
padding-bottom:2px;
background-color:#ffffff;
}

div#header p{
color:#fff;
letter-spacing:2px;
font-style:normal;
font-weight: bolder;
}

div#footer {
font-size: 80%;
width: 100%;
text-align:center;
padding-top: 10px;
padding-bottom: 10px;
background-color: #313131;
font-family:'Meiryo';
}

div#app {
padding-top: 80px;
text-align:center;
padding-bottom: 80px;
}

textarea{
    width:80%;
    height:100px;
    resize:vertical;
}

div#footer p{
color:white;
font-style: normal;
}
